html, body {
	min-height: auto !important;
}
body {
	display: flex;
	align-items: baseline;
	justify-content: center;
}
main {
	margin: 0px !important;
}
.editor {
	border: none !important;
	padding: 25px;
}